@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #07193a;
}

.khmer { font-family: 'Hanuman', serif; }
button { cursor: pointer; border: none; background: none; font-family: inherit; }
